extends layout.pug

include dog-park-form-utils.pug

append head

  link(rel="stylesheet", href="/stylesheets/parks.css")

block content
  div(class="splash")
    h1
      a(href="/") good
      span: a(href="/") bois
    div(class="navbar")
      form(action='/users/logout' method='post')
        button(type='submit' class='logout') LogOut
  img(src="/images/dog-1.jpg", alt="An image of dogs and people in a park")
  h2 Create Park
  +validationErrorSummary(errors)
  div(id='create-container')
    form(action='/parks/new' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Name', 'name', park.name)
      +field('City', 'city', park.city)
      +field('State', 'state', park.state)
      +field('Description', 'description', park.description, 'textarea')
      +field('Park Size - Acres', 'parkSize', park.parkSize, 'number', 'e.g. 5.25')
      +field('Small Dog Area', 'smallDogArea', park.smallDogArea, 'select')
      +field('Doggie Water Fountain', 'doggieWaterFountain', park.doggieWaterFountain, 'select')
      +field('Fully Fenced', 'fullyFenced', park.fullyFenced, 'select')
      +field('Parking Lot', 'parkingLot', park.parkingLot, 'select')
      +field('Waste Disposal', 'wasteDisposal', park.wasteDisposal, 'select')
      +field('Agility Equipment', 'agilityEquipment', park.agilityEquipment, 'select')
      +field('Shaded', 'shaded', park.shaded, 'select')
      div(class='form-btns')
        button(type='submit' class='create-btn') Submit
        a(href='/parks' class='cancel-btn') Cancel
  footer
    div(class="github_links")
      h2: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
      h2: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
      h2: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
      h2: a(href="https://github.com/graceechi" target="_blank") Grace Chi
