extends layout.pug

include utils.pug

block content
    form(class="buttons" action='/profile/demo' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='email' value='demo@gmail.com')
        input(type='hidden' name='password' value='demo@1')
        button(type='submit' class='login-button') Demo
