extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div(class="splash_nav_container")
        h1
            a(href="/") good
            span: a(href="/") bois

        div(class="navbar")
            if !locals.authenticated
                div(class="splash-nav")
                    nav(id="sign-up-nav")
                        a(href="/users/signup") Sign Up
                    nav(id="sign-up-nav")
                        a(href="/users/login") Log In
                    nav(id="demo-nav")
                        form(class="buttons" action='/users/login' method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' name='email' value='demo@gmail.com')
                            input(type='hidden' name='password' value='Demo@1')
                            button(type='submit' class='demo-btn') Demo
            else
                div(class='splash-nav')
                    nav(id="sign-up-nav")
                        a(href=`/profile/${user.id}`) Profile
                    div(class="navbar")
                        form(action='/users/logout' method='post')
                            button(type='submit' class='logout') Log Out
                        //- a(href="/profile/demo")
                //- a(href="/profile/demo") Demo Login
            //- only if user is logged in or in demo mode
            //- nav
            //-     a(href="/logout") Log Out
    br
    br
    br
    div(id="h2_title")
        h2 Find Your Next Favorite Dog Park.
    br
    br
    div(class="splash_img_container")
        img(src="/images/dog-3.jpg" alt="2 dogs in a park" height="500" width="700")
    br
    div(class="funText")
        div(class='text1')
            p Deciding where to go next?
            span You're in the right place. Tell us about which U.S. state you live in and we'll give you surprising recommendations.
        div(class='text2')
            p Where are your friends playing?
            span Chances are you might make new best buddies with goodbois.
    br
    div(class="parks_links")
        h3: a(href="/parks") Parks
    div(class="search_bar")
        form(action="/search")
            input(type="search" name="term" placeholder="Search Parks Here..." required)
            button(class='findBtn') Find a Park
    br
    br
    footer
        div(class="github_links")
            h2: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
            h2: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
            h2: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
            h2: a(href="https://github.com/graceechi" target="_blank") Grace Chi
