doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- link(rel="stylesheet" href="/stylesheets/index.css")
  body
    //- div(class="splash_nav_container")
    //-   h1
    //-       a(href="/") good
    //-       span: a(href="/") bois
    //-   if locals.authenticated
    //-     div(class= 'dropdown')
    //-         a(id='profile' class='navbar-link' href=`/profile/${userId}`) Profile
    //-         div(id='dropdown-content' class= 'dropdown-content')
    //-           button(id='dropdown-parks' class= 'dropdown-item')
    //-             a(href='/parks') Parks
    //-           form(id='dropdown-logout' class= 'dropdown-item' action='/users/logout' method='post' )
    //-             button(id='logout' type='submit')
    //-               a() Logout
    block content
