doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='icon', href='/images/goodboi.png')
  body
    block content
    //- block footer
    //-   div(class= 'contributors')
    //-     div(id= 'contributor-1')
    //-       div(id= 'contrib')
    //-         a(href='https://github.com/ShanFalk' target="_blank")
    //-           img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
    //-       p= 'Shannon Falk'
    //-     div(id= 'contributor-2')
    //-       div(id= 'contrib')
    //-         a(href='https://github.com/oliviabir' target="_blank")
    //-           img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
    //-       p= 'Olivia Bir'
    //-     div(id= 'contributor-3')
    //-       div(id= 'contrib')
    //-         a(href='https://github.com/sonajasani' target="_blank")
    //-           img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
    //-       p= 'Sona Jasani'
    //-     div(id= 'contributor-4')
    //-       div(id= 'contrib')
    //-         a(href='https://github.com/graceechi' target="_blank")
    //-           img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
    //-       p= 'Grace Chi'
