extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js
  script(src="" type="module" defer)

include utils.pug

block content
  header
    div(class="splash")
      h1
        a(href="/") good
        span: a(href="/") bois
  main
    div(class="main-container")
      div(class="container")
        h1 Log In
        br
        +validationErrorSummary(errors)
        br
        form(id='login-form' action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          +field('Email ', 'email', email)
          br
          +field('Password ', 'password', password, 'password')
          br
          div
            button(type='submit' class="login-btn") Log In
            a(href='/' class='cancel-btn') Cancel
          div
            p: a(href='/users/signup') New to Goodbois? Sign Up!
  footer
    div(class="github_links")
        span: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
        br
        span: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
        br
        span: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
        br
        span: a(href="https://github.com/graceechi" target="_blank") Grace Chi
