extends layout.pug

include utils.pug

block content
  h1 Log In
  +validationErrorSummary(errors)
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email', 'email', email)
    +field('Password', 'password', password, 'password')
    div
      button(type='submit' class="login-btn") Log In
      a(href='/' class='cancel-btn') Cancel
  div
    p: a(href='/users/signup') New to Goodbois? Sign Up!
