doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/all-parks.css")

  body(id='img')
    header
        div(class="splash")
            a(href="/") good
            span: a(href="/") bois
            div(class="navbar")
                nav(id="new-park-nav")
                    a(href='/parks/new') Add a New Park
                nav(id="sign-up-nav")
                    a(href="/users/signup") Sign Up
                nav(id="sign-up-nav")
                    a(href="/users/logout") Log Out
    main
        div(class='park')
            each park in parks
                div(class='park-info')
                    a(href=`/parks/${park.id}`)= park.name
                    p(class='location')= park.city
                    p(class='location')= park.state
                br
    footer
        div(class="github_links")
            span: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
            br
            span: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
            br
            span: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
            br
            span: a(href="https://github.com/graceechi" target="_blank") Grace Chi 
        
