extends layout 

append head 

    link(rel="stylesheet" href="/stylesheets/search.css")
    script(src="/javascripts/search.js" type="module" )

block content 
    header 
        div(class="splash")
                a(href="/") good
                span: a(href="/") bois
    main 
        div(class='container')
            //if parks
            if(parks.length > 0)
                div(class='title1')
                    p Parks Search Results
                    br
                div(class='parks' id='foundParks')
                    ul
                        each park in parks
                            li: a(href=`/parks/${park.id}`)= park.name
                div(class='more_parks')
                    p Want to see more parks?? Visit  
                        a(href="/parks") Parks!   
            else if (parks.length === 0)
                div(class='title2')
                    p Whoof!!!
                    span Search Result Not Found
                div(class='noParks')
                    span Visit  
                        a(href="/parks") Parks!
    footer
        div(class="github_links")
            span: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
            br
            span: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
            br
            span: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
            br
            span: a(href="https://github.com/graceechi" target="_blank") Grace Chi
