extends layout 

include utils.pug 

append head

  link(rel="stylesheet" href="/stylesheets/profile.css")
  
  script(src="/javascripts/profile.js" type="module" )

block content
    div(class="splash")
        h1
            a(href="/") goodbois
    
        div(class="navbar")
            form(action='/users/logout' method='post')
                button(type='submit' class='logout') LogOut
    br
    br
    div(class='welcome')
        p Welcome #{user.fullName}! You have logged in successfully. 
    br
    br
    h2(class='user_name' style )= user.fullName
    h3(class='email')= user.email
    br
    br
    div(class='parkslist') Your Parks list
        each park in parks
            ul
                li(id='park')
                    a(href=`/parks/${park.id}`)= park.name
    br
    br
    footer 
    div(class='footer')
        p Want to find more parks for your buddy?? 
        span Visit 
        a(href="/parks") Parks





        