* {
    background-color: antiquewhite;
}

h1 {
    margin-top: 15px;
    margin-left: 15px;
}

h1 a {
    color: rgb(201, 155, 94);
    font-size: 40px;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(184, 100, 100);
}

.navbar a {
    text-decoration: none;
    color: rgb(184, 100, 100);
}

.navbar a:hover {
    color: rgb(201, 155, 94);
}

#new-park-nav {
    padding-top: 7px;
    padding-right: 10px;
}

#sign-up-nav {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 15px;
}

.buttons {
    color: rgb(184, 100, 100);
    border: 2px solid rgb(184, 100, 100);
    border-radius: 3px;
    margin: 5px;
}

.park-info{
    color: rgb(184, 100, 100);
    border: 2px solid rgb(184, 100, 100);
    border-radius: 3px;
    margin: 5px;
}

.location {
    font-size: 12px;
}
