* {
    background-color: antiquewhite;
}

h1>span>a{
    color: indigo;
    font-size: 40px;
    text-decoration: none;
}

h1 {
    padding-top: 15px;
}

h1 a {
    color: rgb(201, 155, 94);
    font-size: 40px;
    text-decoration: none;
}

.splash {
    background-color: antiquewhite;
    border-bottom: 1px solid rgb(201, 155, 94);
    margin-left: 15px;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    top: 20px;
    right: 15px;
    color: rgb(184, 100, 100);

}

.navbar a {
    text-decoration: none;
    color: rgb(184, 100, 100);
}

.navbar a:hover {
    color:indigo;
    text-decoration-line: underline;
    }

#sign-up-nav a {
    font-size: 16px;
}

#login {
    font-size: 16px;
}

#logout{
    color: rgb(135, 75, 2);
    border-radius: 5px;
    border-color: rgb(184, 100, 100);
    margin-right: 10px;
    font-size: 13px;
    margin-top: 12px;
}

#logout:hover{
    box-shadow: 3px 3px 3px rgb(126, 78, 78);
}

#new-park-nav {
    padding-top: 7px;
    padding-right: 10px;
}

#sign-up-nav {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 15px;
}

.buttons {
    color: rgb(184, 100, 100);
    border: 2px solid rgb(184, 100, 100);
    border-radius: 3px;
    margin: 5px;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.park-info {
    color: rgb(184, 100, 100);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 75px);
    grid-template-areas:
        "parkName parkName"
        "Description Description"
        "location parkSize"
        "smallDogArea doggieWaterFountain"
        "fullyFenced parkingLot"
        "wasteDisposal agilityEquipment"
        "shaded editAndAdd"
        ;
    background-color: white;
    border: 2px solid rgb(184, 100, 100);
    border-radius: 8px;
    height: 37em;
    width: 50em;
    margin-top: 4em;
}

#park-name {
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: parkName;
}

#edit-park-button {
    margin-top: 12px;
    margin-left: 40px;
}

#location {
    grid-area: location;
}

#parkSize {
    grid-area: parkSize;

}

#description {
    grid-area: Description;


}

#smallDogArea {
    grid-area: smallDogArea;

}

#doggieWaterFountain {
    grid-area: doggieWaterFountain;

}

#fullyFenced {
    grid-area: fullyFenced;

}

#parkingLot {
    grid-area: parkingLot;

}

#wasteDisposal {
    grid-area: wasteDisposal;

}

#agilityEquipment {
    grid-area: agilityEquipment;

}

#shaded {
    grid-area: shaded;

}

#editAndAdd {
    grid-area: editAndAdd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-to-list-btn {
margin-top: 8px;
font-weight: bold;
}

#get-edit-form {
    position: relative;
    background-color: white;

}

.input-name {
    color: rgb(184, 100, 100);
    font-size: 20px;
    margin: 3px;
    text-align: center;
}

.input-value {
    font-size: 15px;
}

.review-container {
    color: rgb(184, 100, 100);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.review-heading{
    margin-top: 3em;
    padding-bottom: 10px;
    width: 45%;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    border-left: 2px solid indigo;
    border-right: 2px solid indigo;
    border-top: 2px solid indigo;
}

h2 {
    font-weight: 500;
    font-size: 25px;
}

.reviews-container {
    background-color: rgb(255, 255, 255);
}

#reviews-h2 {
    color: indigo;
}

#review-btn {
    color: indigo;
}

#review-display {
    padding-top: 10px;
    padding-left: 10px;
    width: 45%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid indigo;
    border-left: 2px solid indigo;
    border-right: 2px solid indigo;
}

.review-input {
font-weight: bold;
color: indigo;
}

.edit-buttons {
margin-top: 10px;
color: indigo;
border-color: indigo;
}

.delete-review-button {
    color: indigo;
    border-color: indigo;
}

.review-button {
margin-top: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgb(184, 100, 100);
    border-radius: 5px;
    z-index: 10;
    background-color: rgb(250, 246, 242);
    width: 400px;
    max-width: 50%;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid rgb(184, 100, 100);
    font-size: 25px;
    font-weight: 400;
}

.popup-body {
    padding: 10px 15px;
}

.popup-btns {
    border: 1px solid rgb(184, 100, 100);
    border-radius: 3px;
    padding: 3px 5px;
    text-decoration: none;
}

#cancel {
    margin-left: 50px;
}
/* these aren't spacing correctly now that they live in the right place on the pug page  */
.delete-yes {
    margin-left: 50px;
    margin-right: 10px;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 30em;
    background-color: antiquewhite;
}

.github_links {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;

    width: 100%;
    border-top: 1px solid rgb(201, 155, 94);
    padding-top: 20px;
    padding-bottom: 30px;
}

.github_links a {
    text-decoration: none;
}

.github_links a:hover {
    color: rgb(201, 155, 94);
}




























.hidden {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgb(184, 100, 100);
    border-radius: 5px;
    z-index: 10;
    background-color: rgb(250, 246, 242);
    width: 400px;
    max-width: 50%;
}

.hidden.active {
    transform: translate(-50%, -50%) scale(1);
}
