* {
    background-color: antiquewhite;
    box-sizing: border-box;
}

.splash {
    border-bottom: 1px solid rgb(201, 155, 94);
    padding-bottom: 10px;
}

h1 {
    margin-top: 15px;
    margin-left: 15px;
}

h1>a {
    color: rgb(201, 155, 94);
    font-size: 40px;
    text-decoration: none;
}

h1>span>a{
    color: indigo;
    font-size: 40px;
    text-decoration: none;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    top: 15px;
    right: 15px;
}

.logout{
    color: rgb(135, 75, 2);
    border-radius: 5px;
    border-color: coral;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 12px;
}

.logout:hover{
    box-shadow: 3px 3px 3px rgb(126, 78, 78);
}

main{
    min-height: calc(100vh - 56px - 95px);
}


.welcome{
    margin-top: -40px;
    margin-left: 15px;
    color: rgb(184, 100, 100);
    font-size: 20px;
    font: bold;
}


h2 {
    font-size: 30px;
    font-family: Cambria;
    font-style: italic;
    margin-top: 0px;
    color: rgb(184, 100, 100);
    margin-left: 15px;
}


.email {
    font-style: italic;
    color: rgb(184, 100, 100);
    margin-left: 15px;
}


.parkslist{
    margin-top: 15px;
    margin-left: 15px;
    font-family: Cambria;
    font: bold;
    color: rgb(184, 100, 100);
    font-size: 25px;
    text-decoration: underline;
}

#park{
    margin-left: 20px;
}


.moreParks{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: rgb(184, 100, 100);
    padding-bottom: 20px;
    font-size: 14px;
}

.moreParks span {
    font-size: 14px;
}

.moreParks a {
    text-decoration: none;
    font-size: 14px;
}

.moreParks a:hover {
    color: indigo;
    text-decoration-line: underline;
    text-decoration-style: 0.5 px solid indigo;
}


.github_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;

    
    width: 100%;
    margin-top: -20px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(201, 155, 94);
    padding-top: 20px;
}

.github_links a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font: bold;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(135, 75, 2);

}

.github_links a:hover {
    color: rgb(201, 155, 94);
}

