* {
    background-color: antiquewhite;
}

body {
    background-image: url('https://media.istockphoto.com/photos/puppy-picture-id823616762?k=20&m=823616762&s=612x612&w=0&h=gbQcwAGpVKk8BN0crvQa-PULqiw4fCAUV-HgLfG_Csg=');
    background-size: 100% 100%;
    color: white;
}



header{
    background: rgba(255,255,255,0.3);
}

h1 {
    border-bottom: 1px solid rgb(201, 155, 94);
    padding-top: 15px;
    margin-left: 15px;
    padding-bottom: 10px;
}

h1 a {
    color: rgb(201, 155, 94);
    font-size: 40px;
    text-decoration: none;
    background: rgba(255,255,255,0);
}



.splash>h1>span>a{
    color: indigo;
    font-size: 40px;
    text-decoration: none;
}



main{
    min-height: calc(100vh - 56px - 80px);
    background: rgba(255,255,255,0);
}

.main-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    background-color: white;
    color: rgb(184, 100, 100);
    border: 3px solid rgb(184, 100, 100);
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;
    opacity: 0.8;
}

form {
    margin-top: 10px;
    background-color: white;
}

.form-control{
    border-color: indigo;
    border-radius: 5px;
    border-width: 0.5px;
    background-color: white;
}

label {
    background-color: white;
}

a {
    background-color: white;
}

.signup-btn{
    color: rgb(184, 100, 100);
    border: 2px solid rgb(184, 100, 100);
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.signup-btn:hover {
    cursor: pointer;
}

footer{
    background: rgba(255,255,255,0.3);
}

.github_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;


    width: 100%;
    border-top: 1px solid rgb(216, 171, 113); 
    padding-top: 26px;  
    padding-bottom: 20px;
}



.github_links a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font: bold;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(143, 9, 170);
    background: rgba(255,255,255,0.3);
}

.github_links a:hover {
    color: rgb(49, 8, 146);
}

.alert{
    width:300px;
}

.alert>p {
    margin-top: -10px;
    color:rgb(49, 8, 146);
    font: bold;
    font-size: 20px;
    margin-left: -30px;
    background-color: white;

}

.alert>ul {
    color: rgb(233, 42, 42);
    margin-top: -20px;
}